@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

/* Add these styles to your CSS */
.newsdiv {
  height: auto;/* Adjust the height based on your design */
  overflow: hidden;
  position: relative;
}

.newsscrollul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.newsscrollli {
  margin-bottom: 10px;
  line-height: 1;
}


